.login_container{
    background-color: #fff;
    box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em auto;
    flex-direction: column;
    justify-content: center;
}

.login_container h4{
    margin: 2rem 0 0;
}

.login_container p{
    color: #6c757d!important;
}

.login_container form{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.login_container form label{
    color: #6c757d;
    margin-bottom: .75rem;
}

.login_container form input{
    height: calc(.5em + 1rem + 16px) !important;
    border-radius: .3rem;
    border: 1px solid #e2e7f1;
    margin-bottom: .75rem;
}

.login_container form button{
    background-color: #5369f8;
    border-color: #5369f8;
    padding: 8px 12px;
    margin: 1em auto;
    color: #fff;
    border-radius: .3rem;
    width: 150px;
}

.auth-page-sidebar{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 49%;
}

@media screen and (min-width: 0px){
    .login_container{
        width: 80%;
    }
}
@media screen and (min-width: 768px){
    .login_container{
        width: 60%;
    }
}
@media screen and (min-width: 1024px){
    .login_container{
        width: 40%;
    }
}